In [19]:
!mkdir -p /fileshare/sf_salaries

In [20]:
!wget -x --load-cookies $HOME/cookies.txt -P /fileshare/sf_salaries -nH --cut-dirs=5 https://www.kaggle.com/kaggle/sf-salaries/downloads/Salaries.csv.zip

--2017-05-15 09:45:19--  https://www.kaggle.com/kaggle/sf-salaries/downloads/Salaries.csv.zip
Resolving www.kaggle.com (www.kaggle.com)... 168.62.224.124
Connecting to www.kaggle.com (www.kaggle.com)|168.62.224.124|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://kaggle2.blob.core.windows.net/datasets/14/470/Salaries.csv.zip?sv=2015-12-11&sr=b&sig=9GInw80zPKYvkU5rH5sfTkxu9ChFd%2BqkAuHQ5QqALQM%3D&se=2017-05-18T09%3A45%3A19Z&sp=r [following]
--2017-05-15 09:45:19--  https://kaggle2.blob.core.windows.net/datasets/14/470/Salaries.csv.zip?sv=2015-12-11&sr=b&sig=9GInw80zPKYvkU5rH5sfTkxu9ChFd%2BqkAuHQ5QqALQM%3D&se=2017-05-18T09%3A45%3A19Z&sp=r
Resolving kaggle2.blob.core.windows.net (kaggle2.blob.core.windows.net)... 40.116.120.24
Connecting to kaggle2.blob.core.windows.net (kaggle2.blob.core.windows.net)|40.116.120.24|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5383625 (5.1M) [application/octet-stream]
Saving to: ‘/fileshare/sf_salaries/Salaries.csv.zip’

Salaries.csv.zip    100%[===================>]   5.13M  13.6MB/s    in 0.4s

utime(/fileshare/sf_salaries/Salaries.csv.zip): Operation not permitted
2017-05-15 09:45:20 (13.6 MB/s) - ‘/fileshare/sf_salaries/Salaries.csv.zip’ saved [5383625/5383625]

In [23]:
!unzip /fileshare/sf_salaries/Salaries.csv.zip -d /fileshare/sf_salaries/

Archive:  /fileshare/sf_salaries/Salaries.csv.zip
replace /fileshare/sf_salaries/Salaries.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

In [10]:
import pandas as pd
import numpy as np
import itertools
import seaborn

from experiments.libs import loaders
%matplotlib inline

In [24]:
df = pd.read_csv('/fileshare/sf_salaries/Salaries.csv', index_col=0)

/home/hoaphumanoid/anaconda3/envs/strata/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [26]:
df['JobTitle'].value_counts()

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
CEMENT FINISHER SUPERVISOR II                            1
SPECIAL ASSISTANT XV                                     1
CASHIER III                                              1
WINDOW CLEANER SUPERVISOR                                1
Pianist                                                  1
TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY       1
ZOO CURATOR                                              1
MATERIALS AND SUPPLIES SUPERVISOR                        1
COMMUNICATIONS DIRECTOR                                  1
Chief Forensic Toxicologist                              1
ASSISTANT DIRECTOR OF CLINICAL SERVICES II               1
ROOFER SUPERVISOR I                                      1
CHIEF TELEPHONE OPERATOR                                 1
MANAGER, UNIFIED FAMILY COURT SERVICES                   1
LABORATORY HELPER                                        1
WAREHOUSE WORKER                                         1
Auto Body&Fender Wrk Asst Sprv                           1
BARBER                                                   1
DEPUTY SEALER OF WEIGHTS AND MEASURES                    1
ORTHOPEDIC TECHNICIAN I                                  1
HUMAN RESOURCES DIRECTOR                                 1
Mobile Equipment Supervisor                              1
Special Assistant 13                                     1
CHIEF PROBATION OFFICER, JUVENILE COURT                  1
MUNICIPAL STADIUM GROUNDSKEEPER                          1
TRAFFIC HEARING OFFICER                                  1
SPECIAL ASSISTANT XVIII                                  1
Musm Exhibit Packer & Repairer                           1
BOARD SECRETARY - MUNICIPAL TRANSPORTATION AGENC         1
CHIEF VICTIM/WITNESS INVESTIGATOR                        1
Name: JobTitle, dtype: int64